{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} Alma {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/alma-logo.ico' %}">
    {% include 'head/css.html' %}
</head>


<body class=" font-[Poppins] bg-teal-600 h-screen">
  <!-- Header start here  -->
  <header class="bg-teal-50">
    <nav class="flex items-center justify-between w-[90%] mx-auto">

      <div class="flex items-center gap-6 md:hidden">
        <span class="text-3xl cursor-pointer mx-2">
          <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
      </div>

      <div>
        <span class="text-2xl cursor-pointer">
          <img class="w-28" src="{% static 'img/Almago.png' %} " alt="...">
        </span>
      </div>

      <div  class="nav-links duration-500 md:static absolute bg-teal-50 md:min-h-fit  left-0 top-[-100%] md:w-auto w-full flex items-center">
        <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw]">  
          <li class="mx-4 my-2 md:my-0">
            <a href="#" class="text-xl hover:text-rose-500 duration-500" >Categories</a>
          </li>
          <li class="mx-4 my-2 md:my-0">
            <a href="#" class="text-xl hover:text-rose-500 duration-500" >Alma-Business</a>
          </li>
          <li class="mx-4 my-2 md:my-0">
            <a href="#" class="text-xl hover:text-rose-500 duration-500" >Teach</a>
          </li>
        </ul>
      </div>
      <div>
        <button class="bg-rose-700 text-teal-50 duration-500 px-6 py-1 mx-4 hover:bg-teal-950 rounded ">Sign In</button>
      </div>
    </nav>
  </header>
  <!-- Header ends here  -->



    <div>
        {% block content %}{% endblock %}
    </div> 
    


    <!-- Footer starts here  -->
    <footer class="bg-teal-100 text-teal-900">
      <div class="container mx-auto py-14 px-6">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-7">
          <div class="lg:col-span-4 col-span-12">            
            <h5 class="tracking-wide text-teal-600 font-bold">Main Goal</h5>
            <p class="mt-6 ">
              <a href="">
                <img class="h-12 w-16 float-left" 
                src="{% static 'img/Almago.png' %} " alt="...">
              </a>
              Alma seeks to render updated learning content readily available
              for pupils in a convenient and independent environment, providing
              them greater freedom and time to retain the knowledge over an 
              extended period of time.
            </p>
          </div>
          <div class="lg:col-span-2 md:col-span-4 col-span-12">
              <h5 class="tracking-wide text-teal-600 font-bold">Institute</h5>
              <ul class="list-none mt-6 space-y-2">
                <li>
                  <a class="hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Alma Business</a>
                </li>
                <li>
                  <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Teach On Alma</a>
                </li>
                <li>
                  <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">About Us</a>
                </li>
                <li>
                  <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Help and Support</a>
                </li>
              </ul>
          </div>
          <div class="lg:col-span-3 md:col-span-4 col-span-12">
            <h5 class="tracking-wide text-teal-600 font-bold">Conformity</h5>
            <ul class="list-none mt-6 space-y-2">
              <li>
                <a class="hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Privacy policy</a>
              </li>
              <li>
                <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Terms</a>
              </li>
              <li>
                <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Sitemap</a>
              </li>
              <li>
                <a class=" hover:text-rose-500 transition-all duration-500 ease-in-out" href="#">Accessibility Statement</a>
              </li>
            </ul>
          </div>
          <div class="lg:col-span-3 md:col-span-4 col-span-12">           
            <h5 class="tracking-wide text-teal-600 font-bold">Contact Us</h5>
            <form action="">
              <div class="my-1">
                 <input type="text" class="mt-0 w-full py-1 px-3 h-7 bg-transparent rounded outline-none border border-teal-950 focus:border-rose-600 focus:ring-0" placeholder=" Your Name" />
              </div>
              <div className="my-1">
                <input type="email" class="mt-0 w-full py-1 px-3 h-7 bg-transparent rounded outline-none border border-teal-950 focus:border-rose-600 focus:ring-0" placeholder=" name@exmaple.com" />
              </div>
              <div class="my-1">               
                <textarea class="mt-0 w-full py-1 px-3 h-15 bg-transparent rounded outline-none border border-teal-950 focus:border-rose-600 focus:ring-0"  placeholder="Message"></textarea>
              </div>
              <input type="submit" class="py-2 px-5 tracking-wide border duration-500 text-base text-center bg-rose-700 hover:bg-teal-950 border-rose-600 hover:border-rose-600 text-teal-50 rounded-md w-full">
            </form>
          </div>
        </div>
      </div>
      <div class="border-t border-teal-700">
        <div class="md:text-right text-center container mx-auto py-7 px-6">
          <p class="mb-0">
            &copy;
            <script>document.write(new Date().getFullYear());</script>
            Alma Team
          </p>
        </div>
      </div>
    </footer>
    <!-- Footer ends here  -->
    
    {% include 'head/js.html' %}
</body>
</html>