{% load static %}
<script type="module" src="{% static '/js/ionicons/ionicons.esm.js' %}"></script>
<script nomodule src="{% static '/js/ionicons/ionicons.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/js/scrollreveal.min.js' %}"></script>



<script>
    let navLinks = document.getElementById('nav_link')
    function Menu(e) {
        navLinks.classList.toggle('top-[7%]')
        e.name = e.name === 'menu' ? 'close' : 'menu'
    }
</script>

<script>

    document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.getElementById('nav_menu');
    const register = document.getElementById('wrapper_register');
    const login = document.getElementById('wrapper_login');
    const flyout = document.getElementById('register_link');
    const flyin = document.getElementById('login_link');

    register.addEventListener('click', () => {
        flyout.classList.toggle('hidden');
        flyin.classList.toggle('hidden');
    });
    login.addEventListener('click', () => {
        flyout.classList.toggle('hidden');
        flyin.classList.toggle('hidden');
    });
  });
</script>

<script>
    $('.carous').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
        dots:false,
        responsive:{
            0:{
                items:1
            },
            480:{
                items:2
            },
            768:{
                items:3
            },
            1024:{
                items:4
            }
        }
    })
</script>

<script>
    $(".carousel").owlCarousel({
        margin: 10,
        loop: true,
        dots:false,
        nav:true,
        navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
                // nav: false
            },
            480: {
                items: 2,
                // nav: false
            },
            768: {
                items: 3,
                // nav: false
            },
            1024: {
                items: 4,
                // nav: false
            }
        }
    });
</script>

<script>
    $(".testi").owlCarousel({
        margin: 10,
        loop: true,
        dots:true,
        responsive: {
            0: {
                items: 1,
            },
            480: {
                items: 2,
            },
            768: {
                items: 3,
            },
            1024: {
                items: 3,
            }
        }
    });
</script>


<script>
    const sr = ScrollReveal({
        origin: 'bottom',
        distance: '60px',
        duration: 3000,
        delay: 0,
        // reset: true,
    });


    sr.reveal('.hero__text',{origin:'top'});

    sr.reveal('.about_text',{origin:'left'});
    sr.reveal('.about_img',{origin:'right', delay: 300});

    sr.reveal('.testimonial__bg',{delay: 300});
    sr.reveal('.testimonial__title');
    sr.reveal('.testimonial__slider',{origin:'right',delay: 300});
    
    sr.reveal('.testimonial__form_bg',{delay: 400});
    sr.reveal('.testimonial__form_title');
    sr.reveal('.testimonial__form',{delay: 400});

    sr.reveal('.stats');
    sr.reveal('.stats__item',{distance: '100px', interval: 300});
    
    sr.reveal('.news__title');
    sr.reveal('.news__item',{distance: '100px', interval: 300, delay:400});




</script>