{% load static %}
<script type="module" src="{% static '/js/ionicons/ionicons.esm.js' %}"></script>
<script nomodule src="{% static '/js/ionicons/ionicons.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>



<script>
    const navLinks = document.querySelector('.nav-links')
    function Menu(e) {
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('top-[7%]')
    }
</script>

<script>
    $('.carous').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
        dots:false,
        responsive:{
            0:{
                items:1
            },
            480:{
                items:2
            },
            768:{
                items:3
            },
            1024:{
                items:4
            }
        }
    })
</script>

<script>
    $(".carousel").owlCarousel({
        margin: 10,
        loop: true,
        dots:false,
        nav:true,
        navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
                // nav: false
            },
            480: {
                items: 2,
                // nav: false
            },
            768: {
                items: 3,
                // nav: false
            },
            1024: {
                items: 4,
                // nav: false
            }
        }
    });
</script>